<div>
    <input type="hidden" ng-model="corporation.corp_no" value="{{corporation.corp_no}}" />
    <div>
        <label for="corp_name">corp_Name</label>
        <input tyoe="text" ng-model="corporation.corp_name" value="{{corporation.corp_name}}" />
    </div>
    <div>
        <label for="street">street</label>
        <input type="text" ng-model="corporation.street" value="{{corporation.street}}" />

    </div>
    <div>
        <label for="city">city</label>
        <input type="text" ng-model="corporation.city" value="{{corporation.city}}" />

    </div>
    <div>
        <label for="state_prov">state_Prov</label>
        <input type="text" ng-model="corporation.state_prov" value="{{corporation.state_prov}}" />

    </div>
    <div>
        <label for="country">country</label>
        <input type="text" ng-model="corporation.country" value="{{corporation.country}}" />

    </div>
   
    <div>
        <label for="mail_code">mail_Code</label>
        <input type="text" ng-model="corporation.mail_code" value="{{corporation.mail_code}}" />

    </div>
    <div>
        <label for="phone_no">phone_No</label>
        <input type="text" ng-model="corporation.phone_no" value="{{corporation.phone_no}}" />

    </div>
    <div>
        <label for="expr_dt">expr_Dt</label>
        <input type="text" ng-model="corporation.expr_dt" value="{{corporation.expr_dt}}" />

    </div>
    <div>
        <label for="corp_code">corp_Code</label>
        <input type="text" ng-model="corporation.corp_code" value="{{corporation.corp_code}}" />

    </div>
</div>
