<div>
    <input type="hidden" ng-model="corporation.corpNo" value="{{corporation.corpNo}}" />
    <div>
        <label for="corpName">corp_Name</label>
        <input tyoe="text" ng-model="corporation.corpName" value="{{corporation.corpName}}" />
    </div>
    <div>
        <label for="street">street</label>
        <input type="text" ng-model="corporation.street" value="{{corporation.street}}" />

    </div>
    <div>
        <label for="city">city</label>
        <input type="text" ng-model="corporation.city" value="{{corporation.city}}" />

    </div>
    <div>
        <label for="stateProv">state_Prov</label>
        <input type="text" ng-model="corporation.stateProv" value="{{corporation.stateProv}}" />

    </div>
    <div>
        <label for="country">country</label>
        <input type="text" ng-model="corporation.country" value="{{corporation.country}}" />

    </div>
   
    <div>
        <label for="mailCode">mail_Code</label>
        <input type="text" ng-model="corporation.mailCode" value="{{corporation.mailCode}}" />

    </div>
    <div>
        <label for="phoneNo">phone_No</label>
        <input type="text" ng-model="corporation.phoneNo" value="{{corporation.phoneNo}}" />

    </div>
    <div>
        <label for="exprDt">expr_Dt</label>
        <input type="text" ng-model="corporation.exprDt" value="{{corporation.exprDt}}" />

    </div>
    <div>
        <label for="corpCode">corp_Code</label>
        <input type="text" ng-model="corporation.corp_Code" value="{{corporation.corp_Code}}" />

    </div>
</div>
